@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 15px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid black;
}

th {
  background-color: #f2f2f2;
}
